@import "../globals.scss";
@import url("https://fonts.cdnfonts.com/css/aquino");

.checkout {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  h2 {
    font-family: "Aquino", sans-serif;
    text-align: center;
    margin: 10px 0 20px;
  }
  .productData {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    margin-bottom: 20px;
    color: #5a6a89;

    .image {
      img {
        width: 180px;
      }
    }

    .name {
      width: 200px;
      text-align: center;
    }

    .quantity {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      p {
        padding: 0 20px;
      }

      button {
        font-size: 1.4rem;
        background-color: $blue-color;
        border: none;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: #2790db;
        }

        &:active {
          background-color: $pink-color;
        }
      }

      .itemPrice {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  .total {
    width: 57%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    border-top: 1px dashed lightgray;
  }

  .payBtn {
    background-color: $blue-color;
    border: none;
    width: fit-content;
    margin: 10px auto 40px;
    padding: 16px 60px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .checkout {
    .productData {
      gap: 40px;

      .image {
        width: 20vw;
        img {
          width: 100%;
        }
      }

      .name {
        width: 150px;
      }
    }
  }
}

@media (max-width: 550px) {
  .checkout {
    h2 {
      margin-bottom: 30px;
    }
    .productData {
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 50px;
      justify-content: center;

      .image {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 30%;
        }
      }

      .name {
        flex-basis: 100%;
      }

      .quantity {
        button {
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
        }
      }
    }

    .payBtn {
      padding: 16px 40px;
      font-size: 1.1rem;
    }

    .total {
        width: 80%;
    }
  }
}
